.movie-wrapper {
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    padding: 10px;
    align-items: center;
    border-radius: 10px;
    background-color: var(--card-background);
    max-width: 22%;
    min-width: 300px;
    text-align: center;
    margin-bottom: 1.2rem;
    color: var(--font-color);
    cursor: pointer;
}

.movie-title {
    margin-top: 1rem;
    font-size: x-large;
    letter-spacing: 2px;
}

.movie-year, .movie-type {
    font-size: larger;
    margin-top: 0.6rem;
}