.navbar-wrapper {
    display: flex;
    justify-content: space-between;
    border: 1px solid var(--dull-blue);
    padding: 1rem;
    align-items: center;
    background-color: var(--dull-blue);
    color: white;
}

.navbar-wrapper div:nth-child(1) {
    font-size: x-large;
    letter-spacing: 5px;
}

.navbar-wrapper div:nth-child(2) {
    flex-basis: 65%;
}

.navbar-wrapper div:nth-child(2) input {
    width: 100%;
    padding: 5px;
    background-color: var(--light-prime-gray);
    border: none;
    border-radius: 3px;
    height: 34px;
    color: whitesmoke;
}